.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #b0a695;
  align-items: center;
}
.heading {
  text-transform: uppercase;
  color: white;
  font-size: 40px;
  margin: 30px 0;
  z-index: 1;
  text-align: center;
  cursor: pointer;
}
.heading:hover {
  letter-spacing: 2px;
}

@media (max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 35px;
  }
}
